.products-home {
    width: 100%;
    min-height: 100vh;
}

.products-title{
    width: 100%;
    height: 180px;
    background: linear-gradient(135deg, #ff69b4e6 0%, #ff1491d9 100%);
    display: flex;
    align-items: end;
    justify-content: center;
}

.products-title h1{
    color: #fff;
    font-size: 3.5rem;
    letter-spacing: 6px;
    margin: 10px;
}


.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 2rem;
    margin-bottom: 1.5rem;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}


.view-all-button.active {
    background-color: #0056b3;
    color: white;
}

@media (max-width: 768px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .categories-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .products-grid {
        grid-template-columns: 1fr;
    }

    .categories-grid {
        grid-template-columns: 1fr;
    }
} 